{% extends 'base.html.twig' %}

{% block title %}Feecare - Messagerie
{% endblock %}

{% block header %}
	<div class="container z-1">
		<nav class="nav nav-pills nav-fill">
			<a class="nav-link border bs-primary" aria-current="page" href="/actualite">Accueil</a>
			<a class="nav-link border" href="/rdv">Rendez-vous</a>
			<a class="nav-link border" href="/traiter">Mes educateurs</a>
			<a class="nav-link border" href="/messagerie">Messagerie</a>
			<a class="nav-link border" href="/map">Nos centres</a>

			<a class="nav-link border" href="/users/logout">Deconnexion</a>
		</nav>
	</div>
{% endblock %}

{% block body %}
	<div class="wrapper">
		<section class="chat-area">


			<header>
				<a href="/messagerie" class="back-icon">
					<i class="fas fa-arrow-left">
						Retour
					</i>
				</a>
				<div class="content">
					<h1>Conversation avec
						{{destinataire.nom}}
						{{destinataire.prenom}}</h1>
				</div>
			</header>
			<script>
				const destinataire = {{ destinataire | json_encode|raw }};
			</script>
			<div class="chat-box" id="messages">
				{% for message in messages|reverse %}
					<div class=" chat {% if message.auteur == app.user %} outgoing {% else %} incoming {% endif %} ">
						<div class="details">
							<p>{{ message.dataMsg }}</p>
						</div>
					</div>
				{% endfor %}


			</div>


			<form id="message-form" action="{{ path('conversation', { 'userId': destinataire.id }) }}" class="typing-area" method="POST" data-url="{{ path('conversation', { 'userId': destinataire.id }) }}" data-destinataire="{{ destinataire.id }}">
				<input type="text" id="m" class="input-field" name="message" placeholder="Ecrivez un message...">
				<button id="sendBtn" class="btn btn-outline-primary">
					Envoyer
				</button>
			</form>
		</section>
	</div>
{% endblock %}
