{% extends 'base.html.twig' %}

{% block title %}Feecare - RDV
{% endblock %}

{% block header %}
	<div class="container z-1">
		<nav class="nav nav-pills nav-fill">
			<a class="nav-link border bs-primary" aria-current="page" href="/actualite">Accueil</a>
			<a class="nav-link border" href="/rdv">Rendez-vous</a>
			<a class="nav-link border" href="/traiter">Mes educateurs</a>
			<a class="nav-link border" href="/messagerie">Messagerie</a>
			<a class="nav-link border" href="/map">Nos centres</a>

			<a class="nav-link border" href="/users/logout">Deconnexion</a>
		</nav>
	</div>
{% endblock %}

{% block body %}

	<div class="container-fluid bg-body-secondary">
		<div class="row">
			<div class="container mt-4 col-4">
				{% if rdv_list %}
					<h1 class="display-1 text-center mb-5">Mes Rendez-vous</h1>
					<table class="table border">
						<thead>
							<tr>
								<th scope="col">Nom du traitant</th>
								<th scope="col">Prenom du traitant</th>
								<th scope="col">Date</th>
								<th scope="col">Heure</th>
							</tr>
						</thead>
						<tbody>
							{% set i = 0 %}
							{% for rdv in rdv_list %}
								<tr>
									<td>{{ rdv.nom }}</td>
									<td>{{ rdv.prenom }}</td>
									<td>{{ rdv[0].dateRdv|date('d/M/Y') }}</td>
									<td>{{ rdv[0].timeRdv|date('H:i') }}</td>
									<td>{{ form_start(tab_form_view[i]) }}
										{{ form_row(tab_form_view[i].id, {'attr' : { 'value' : rdv[0].idRdv }}) }}
										{{ form_row(tab_form_view[i].submit) }}
										{{ form_end(tab_form_view[i]) }}
									</td>
								</tr>
								{% set i = i + 1 %}
							{% endfor %}

						</tbody>
					</table>

				{% else %}
					<h1 class="display-1 text-center mb-5">Vous n'avez aucun rendez-vous...</h1>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
